@import "tailwindcss";

@theme {
  --color-text: #272822;
  --color-background: #F5F3ED;
  --color-primary: #4F5148;
  --color-secondary: #DCE4E6;
  --color-accent: #E8DCDC;
  --font-headline: Manrope, sans-serif;
  --font-body: "Work Sans", sans-serif;
  --font-label: Manrope, sans-serif;
}

body {
  background-color: #F5F3ED;
  color: #272822;
  font-family: "Work Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-headline {
  font-family: "Manrope", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.filled {
  font-variation-settings: 'FILL' 1;
}

